<div class="container my-5">
    <div class="row">
        <div class="col col-lg-12 col-md-6">
            
            <!-- Editable table -->
            <div class="card">
                <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Pricelist overview</h3>
                <div class="card-body">
                  <div id="table" class="table-editable">
                    <!-- aa -->
                    
                    <div class="container">
                    
                      <div class="row">
                    
                        <div class="col-lg-4 d-flex justify-content-center col-md-auto my-2">
                          
                          <select [(ngModel)]="currentCommodity" (ngModelChange)="onClickedCommodity()" class="browser-default custom-select">
                 
                            <option *ngFor="let commodity of commodities" [ngValue]="commodity">{{ commodity.name}} {{commodity.unitName}} {{commodity.price}}din</option>
                          
                          </select>
  
                        </div>
                        
                        <!-- (click)="makeOrder()" -->
                        <div class="col-lg-4 d-flex justify-content-center col-md-auto my-2">
                            
                            <button type="button" class="btn btn-primary btn-lg" [disabled]="false">Make copy</button>
                        
                        </div>


                         <div class="col-lg-4 d-flex justify-content-center col-md-auto my-2">
                            
                            <button type="button" class="btn btn-primary btn-lg" [disabled]="false">Create new pricelist</button>
                        
                        </div>
                    
                    </div>


                    <table class="table table-bordered table-responsive-md table-striped text-center">
                      <tr>
                        <th class="text-center">Number</th>
                        <th class="text-center">Item</th>
                        <th class="text-center">Item description</th>
                        <th class="text-center">Goods/Service</th>
                        <th class="text-center">Unit price</th>
                        <th class="text-center">Unit name</th>
                        <th class="text-center">Unit name abbreviation</th>
                        <th class="text-center">Commodity group</th>
                        <th class="text-center">Tax rate</th>
                      </tr>
                     
                      <tr *ngFor="let item of orderItems; let id = index">  
                        <td>
                          <span contenteditable="false">{{id+1}}</span>
                        </td>
                        <td>
                          <span contenteditable="false">{{item.name}}</span>
                        </td>
                        <td>
                          <span contenteditable="false">{{item.description}}</span>
                        </td>
                        <td>
                          <span contenteditable="false">{{item.unit}}</span>
                        </td>
                        <td>
                          <span contenteditable="false">{{item.abbreviation}}</span>
                        </td>
                        <td>
                          <span contenteditable="false">{{item.amount}}</span>
                        </td>
                        <td>
                          <span contenteditable="false">{{item.unitPrice}}</span>
                        </td>
                        <td>
                          <span contenteditable="false">{{item.tax}}</span>
                        </td>
                        <td>
                          <span contenteditable="false">{{item.amount * item.unitPrice}}</span>
                        </td>
                        <td>
                          <span contenteditable="false">{{item.amount * item.unitPrice + item.taxAmount}}</span>
                        </td>
                        
                        <td>
                          <span class="table-up">
                            <a class="indigo-text">
                              <mdb-icon fas icon="long-arrow-alt-up"></mdb-icon>
                            </a>
                          </span>
                          <span class="table-down">
                            <a class="indigo-text">
                              <mdb-icon fas icon="long-arrow-alt-down"></mdb-icon>
                            </a>
                          </span>
                        </td>
                        <td>
                          <span class="table-remove">
                            <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(id)">Remove</button>
                          </span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
            </div>
            <!-- Editable table -->
  

    
  
  
        </div>
  
        
  
    </div>
