<div class="container">
    <div class="row">
        <div class="col col-lg-12 col-md-6">

            <form [formGroup]="partnerForm">
                <div class="md-form">

                    <div class="input-group mb-3">
                        <input mdbInput mdbValidate type="text" id="comapanyName" class="form-control" formControlName="name">
                        <label for="comapanyName">Company name</label>
                        <mdb-error *ngIf="name.invalid && (name.dirty || name.touched)">Invalid name</mdb-error>
                        <mdb-success *ngIf="name.valid && (name.dirty || name.touched)"></mdb-success>
                    </div>

                    <div class="input-group mb-3">
                        <input mdbInput mdbValidate type="text" id="comapanyAddress" class="form-control" formControlName="address">
                        <label for="comapanyAddress">Company address</label>
                        <mdb-error *ngIf="address.invalid && (address.dirty || address.touched)">Invalid address</mdb-error>
                        <mdb-success *ngIf="address.valid && (address.dirty || address.touched)"></mdb-success>
                    </div>

                    <div class="input-group mb-3"> 
                        <input mdbInput mdbValidate type="text" id="comapanyPhone" class="form-control" formControlName="phone">
                        <label for="comapanyPhone">Company phone</label>
                        <mdb-error *ngIf="phone.invalid && (phone.dirty || phone.touched)">Invalid phone</mdb-error>
                        <mdb-success *ngIf="phone.valid && (phone.dirty || phone.touched)"></mdb-success>
                    </div>

                    <div class="md-form">
                        <input mdbInput mdbValidate type="text" id="companyEmail" class="form-control" formControlName="email">
                        <label for="companyEmail">Company email</label>
                        <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)">Invalid email</mdb-error>
                        <mdb-success *ngIf="email.valid && (email.dirty || email.touched)"></mdb-success>
                    </div> 

                    <div class="md-form">
                        <input mdbInput mdbValidate type="text" id="companyTaxNo" class="form-control" formControlName="taxNo">
                        <label for="companyTaxNo">Company tax number</label>
                        <mdb-error *ngIf="taxNo.invalid && (taxNo.dirty || taxNo.touched)">Invalid tax number</mdb-error>
                        <mdb-success *ngIf="taxNo.valid && (taxNo.dirty || taxNo.touched)"></mdb-success>
                    </div> 

                    <!-- <button (click)="clicksub(partnerForm)" [disabled]="partnerForm.invalid" type="button" class="btn btn-primary">Add new partner -->

                </div>
            </form>
       </div>
    </div>
</div>

<div class="dropdown" mdbDropdown>

    <button mdbDropdownToggle mdbBtn color="primary" class="dropdown-toggle waves-light" type="button"
      mdbWavesEffect>
      Choose article
    </button>
  
    <div class="dropdown-menu dropdown-primary">
        <a class="dropdown-item" *ngFor="let item of items" href="#"> {{item.name}} </a> 
    </div>
  </div>
  
  <button type="button" mdbBtn color="primary" mdbWavesEffect>{{unit}}</button>


  <!-- <div class="dropdown"  [dataSource]='data' [placeholder]='placeholder' mdbDropdown>

    <button mdbDropdownToggle mdbBtn color="primary" class="dropdown-toggle waves-light" type="button"
      mdbWavesEffect>
      Choose unit
    </button>
  
    <div class="dropdown-menu dropdown-primary">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div> -->

<div class="container">
    <div class="row">
        <div class="col col-lg-12 col-md-6">
            
            <!-- Editable table -->
            <div class="card">
                <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Create your order</h3>
                <div class="card-body">
                  <div id="table" class="table-editable">
                    <span class="table-add float-right mb-3 mr-2">
                      <a class="text-success" (click)="add()">
                        <mdb-icon fas icon="plus" size="2x"></mdb-icon>
                      </a>
                    </span>
                    <table class="table table-bordered table-responsive-md table-striped text-center">
                      <tr>
                        <th class="text-center">Person Name</th>
                        <th class="text-center">Age</th>
                        <th class="text-center">Company Name</th>
                        <th class="text-center">Country</th>
                        <th class="text-center">City</th>
                        <th class="text-center">Sort</th>
                        <th class="text-center">Remove</th>
                      </tr>
                      <tr *ngFor="let person of personList; let id = index">
                        <td>
                          <span (keyup)="changeValue(id, 'name', $event)" (blur)="updateList(id, 'name', $event)" contenteditable="true">{{person.name}}</span>
                        </td>
                        <td>
                          <span contenteditable="true" (keyup)="changeValue(id, 'age', $event)" (blur)="updateList(id, 'age', $event)">{{person.age}}</span>
                        </td>
                        <td>
                          <span contenteditable="true" (keyup)="changeValue(id, 'companyName', $event)" (blur)="updateList(id, 'companyName', $event)">{{person.companyName}}</span>
                        </td>
                        <td>
                          <span contenteditable="true" (keyup)="changeValue(id, 'country', $event)" (blur)="updateList(id, 'country', $event)">{{person.country}}</span>
                        </td>
                        <td>
                          <span contenteditable="true" (keyup)="changeValue(id, 'city', $event)" (blur)="updateList(id, 'city', $event)">{{person.city}}</span>
                        </td>
                        <td>
                          <span class="table-up">
                            <a class="indigo-text">
                              <mdb-icon fas icon="long-arrow-alt-up"></mdb-icon>
                            </a>
                          </span>
                          <span class="table-down">
                            <a class="indigo-text">
                              <mdb-icon fas icon="long-arrow-alt-down"></mdb-icon>
                            </a>
                          </span>
                        </td>
                        <td>
                          <span class="table-remove">
                            <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(id)">Remove</button>
                          </span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
            </div>
            <!-- Editable table -->


        </div>
    </div>
</div>