<div class="container">
    <div class="row">
        <div class="col col-lg-12 col-md-6">
          
          <div class="text-center border border-light p-2 my-5" >
          
            <p class="h5 mb-4">Select Bussiness Partner</p>

            <div class="col-lg-12 d-flex justify-content-center col-md-auto my-5">
                          
              <select [(ngModel)]="currentPartner" (ngModelChange)="onClickedPartner()"  class="browser-default custom-select">
  
                <option *ngFor="let partner of partners" [ngValue]="partner">{{ partner.name }}</option>
                
              </select>
  
            </div>
          </div>

          <div class="container">
            <div class="row">            
              <div class="col-lg-12 d-flex justify-content-center col-md-auto ">
                <button type="button" class="btn btn-primary btn-lg"  (click)="basicModal.show()" >Or Create New Bussiness Partner</button>
                <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close pull-right" aria-label="Close"  (click)="basicModal.hide()">
                          <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title w-100" id="myModalLabel">Create New Bussiness Partner</h4>
                      </div>
                      <div class="modal-body">
                        <!-- body start -->
                        <div class="container">
                          <div class="row">
                              <div class="col col-lg-12 col-md-6">
                                  <form [formGroup]="partnerForm">
                                        <div class="md-form">
                         
                                             <div class="input-group mb-3">
                                                 <input mdbInput mdbValidate type="text" id="comapanyName" class="form-control" formControlName="name">
                                                 <label for="comapanyName">Company name</label>
                                                 <mdb-error *ngIf="name.invalid && (name.dirty || name.touched)">Invalid name</mdb-error>
                                                 <mdb-success *ngIf="name.valid && (name.dirty || name.touched)"></mdb-success>
                                             </div>
                         
                                             <div class="input-group mb-3">
                                                 <input mdbInput mdbValidate type="text" id="comapanyAddress" class="form-control" formControlName="address">
                                                 <label for="comapanyAddress">Company address</label>
                                                 <mdb-error *ngIf="address.invalid && (address.dirty || address.touched)">Invalid address</mdb-error>
                                                 <mdb-success *ngIf="address.valid && (address.dirty || address.touched)"></mdb-success>
                                             </div>
                         
                                             <div class="input-group mb-3"> 
                                                 <input mdbInput mdbValidate type="text" id="comapanyPhone" class="form-control" formControlName="phone">
                                                 <label for="comapanyPhone">Company phone</label>
                                                 <mdb-error *ngIf="phone.invalid && (phone.dirty || phone.touched)">Invalid phone</mdb-error>
                                                 <mdb-success *ngIf="phone.valid && (phone.dirty || phone.touched)"></mdb-success>
                                             </div>
                         
                                             <div class="md-form">
                                                 <input mdbInput mdbValidate type="text" id="companyEmail" class="form-control" formControlName="email">
                                                 <label for="companyEmail">Company email</label>
                                                 <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)">Invalid email</mdb-error>
                                                 <mdb-success *ngIf="email.valid && (email.dirty || email.touched)"></mdb-success>
                                             </div> 
                         
                                             <div class="md-form">
                                                 <input mdbInput mdbValidate type="text" id="companyTaxNo" class="form-control" formControlName="taxNo">
                                                 <label for="companyTaxNo">Company tax number</label>
                                                 <mdb-error *ngIf="taxNo.invalid && (taxNo.dirty || taxNo.touched)">Invalid tax number</mdb-error>
                                                 <mdb-success *ngIf="taxNo.valid && (taxNo.dirty || taxNo.touched)"></mdb-success>
                                             </div> 
                         
                         
                                        </div>
                                   </form>

                              </div>
                          </div>
                        </div>
                        
                        <!-- body end -->

                      </div>
                      <div class="modal-footer">
                        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
                        <button type="button" [disabled]="partnerForm.invalid" mdbBtn color="primary" class="relative waves-light" (click)="savePartnerAndCloseModal(basicModal)" mdbWavesEffect>Save new</button>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>

          <!-- Default form contact -->
          <form class="text-center border border-light p-5" >
          
            <p class="h4 mb-4">Bussiness Partner</p>
          
            <!-- Name -->
            <ng-container *ngIf="currentPartner; else elseBlock">
              
              <input type="text" disabled mdbInput
               class="form-control mb-4" [value] = "currentPartner.name">

              <input type="text"  disabled mdbInput
               class="form-control mb-4" [value] = "currentPartner.address">
               
             <!-- Phone -->
              <input type="text" disabled  mdbInput
              class="form-control mb-4" [value] = "currentPartner.phone">
               
             <!-- Email -->
              <input type="text" disabled  mdbInput
               class="form-control mb-4" [value] = "currentPartner.email">
              
             <!-- Tax number -->
             <input type="text" disabled  mdbInput
               class="form-control mb-4" [value] = "currentPartner.taxNumber">
            </ng-container>
              

            <ng-template #elseBlock>

              <input  type="text" disabled   mdbInput
              class="form-control mb-4" placeholder="Name" >
   
                  <!-- Address -->
              <input type="text"  disabled mdbInput
               class="form-control mb-4" placeholder="Address">
               
             <!-- Phone -->
              <input type="text" disabled  mdbInput
              class="form-control mb-4" placeholder="Phone">
               
             <!-- Email -->
              <input type="text" disabled  mdbInput
               class="form-control mb-4" placeholder="E-mail">
              
             <!-- Tax number -->
             <input type="text" disabled  mdbInput
               class="form-control mb-4" placeholder="Tax number">
            </ng-template>
            
                     
           
              
          </form>

       </div>
    </div>
</div>




<div class="container my-5">
    <div class="row">
        <div class="col col-lg-12 col-md-6">
            
            <!-- Editable table -->
            <div class="card">
                <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Create your order</h3>
                <div class="card-body">
                  <div id="table" class="table-editable">
                    <!-- aa -->
                    
                    <div class="container">
                    
                      <div class="row">
                    
                        <div class="col-lg-4 d-flex justify-content-center col-md-auto my-5">
                          
                          <select [(ngModel)]="currentItem" (ngModelChange)="onClickedItem($event)" class="browser-default custom-select">
                 
                            <option *ngFor="let item of items" [ngValue]="item">{{ item.name }}</option>

                          </select> 
                          
                        </div>
                    
                    
                        <div class="col-lg-4 d-flex justify-content-center col-md-auto my-5">
                          
                          <select [(ngModel)]="currentUnit" (ngModelChange)="onClickedUnit()" [disabled]="!itemSelected" class="browser-default custom-select">

                            <option *ngFor="let unit of units" [ngValue]="unit">{{ unit.name }} ({{unit.abbreviation}})</option>
                            
                          </select>

                        </div>
                    

                        <div class="col-lg-4 d-flex justify-content-center col-md-auto my-5">
                          <form [formGroup]="amountForm" >
                            
                            <input onkeyup="if(this.value<0){this.value= this.value * -1}" [(ngModel)]="currentAmount" class="form-control" formControlName="amount" mdbInput mdbValidate placeholder="Amount"  type="number" min="0" id="amount" class="form-control">
                            <label for="amount"></label>
                          </form>
                          
                        </div> 

                    </div>
                    <!-- vvv -->
                    <span class="table-add float-right mb-3 mr-2">
                      <a class="text-success"  (click)="add()">
                        <mdb-icon fas icon="plus" size="2x"></mdb-icon>
                      </a>
                    </span>
                    <table class="table table-bordered table-responsive-md table-striped text-center">
                      <tr>
                        <th class="text-center">Number</th>
                        <th class="text-center">Item</th>
                        <th class="text-center">Item description</th>
                        <th class="text-center">Unit</th>
                        <th class="text-center">Unit abbreviation</th>
                        <th class="text-center">Amount</th>
                        <th class="text-center">Unit price</th>
                        <th class="text-center">Price</th>
                      </tr>
                     
                      <tr *ngFor="let item of orderItem; let id = index">  
                        <td>
                          <span contenteditable="false">{{id+1}}</span>
                        </td>
                        <td>
                          <span contenteditable="false">{{item.name}}</span>
                        </td>
                        <td>
                          <span contenteditable="false">{{item.description}}</span>
                        </td>
                        <td>
                          <span contenteditable="false">{{item.unit}}</span>
                        </td>
                        <td>
                          <span contenteditable="false">{{item.abbreviation}}</span>
                        </td>
                        <td>
                          <span contenteditable="false">{{item.amount}}</span>
                        </td>
                        <td>
                          <span contenteditable="false">{{item.unitPrice}}</span>
                        </td>
                        <td>
                          <span contenteditable="false">{{item.amount * item.unitPrice}}</span>
                        </td>
                        
                        <td>
                          <span class="table-up">
                            <a class="indigo-text">
                              <mdb-icon fas icon="long-arrow-alt-up"></mdb-icon>
                            </a>
                          </span>
                          <span class="table-down">
                            <a class="indigo-text">
                              <mdb-icon fas icon="long-arrow-alt-down"></mdb-icon>
                            </a>
                          </span>
                        </td>
                        <td>
                          <span class="table-remove">
                            <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(id)">Remove</button>
                          </span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
            </div>
            <!-- Editable table -->

            <div class="container">
              <div class="row">            
                <div class="col-lg-12 d-flex justify-content-center col-md-auto my-5">
                  <button type="button" class="btn btn-primary btn-lg" [disabled]="orderItem.length === 0" (click)="makeOrder()">Make Order</button>
                </div>
              </div>
            </div>


        </div>

        

    </div>

    

</div>