/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
.error-message, .success-message {
    font-size: .8rem;
    left: 0;
    position: absolute;
    margin-top: 20px;
    top: 1;
}