/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
.error-message, .success-message {
    font-size: .8rem;
    left: 0;
    position: absolute;
    margin-top: 20px;
    top: 1;
}
.col-sm{
    height: 50px;
}
.md-form{
    margin: 0px;
}
.btn-primary {
    margin: 0px !important;
}
.label{
    margin-left: 10px !important;
}
